.u-sf {
	&--gs-0   { filter: grayscale(0%);   }
	&--gs-10  { filter: grayscale(10%);  }
	&--gs-20  { filter: grayscale(20%);  }
	&--gs-30  { filter: grayscale(30%);  }
	&--gs-40  { filter: grayscale(40%);  }
	&--gs-50  { filter: grayscale(50%);  }
	&--gs-60  { filter: grayscale(60%);  }
	&--gs-70  { filter: grayscale(70%);  }
	&--gs-80  { filter: grayscale(80%);  }
	&--gs-90  { filter: grayscale(90%);  }
	&--gs-100 { filter: grayscale(100%); }
}