.u-hover {
	&--primary-dark:hover, &--primary-dark:focus { color: $cwg-primary-dark; }
	&--primary:hover, &--primary:focus { color: $cwg-primary; }
	&--primary-light:hover, &--primary-light:focus { color: $cwg-primary-light; }
	&--primary-accent:hover, &--primary-accent:focus { color: $cwg-primary-accent; }
	&--secondary-dark:hover, &--secondary-dark:focus { color: $cwg-secondary-dark; }
	&--secondary:hover, &--secondary:focus { color: $cwg-secondary; }
	&--secondary-light:hover, &--secondary-light:focus { color: $cwg-secondary-light; }
	&--secondary-accent:hover, &--secondary-accent:focus { color: $cwg-secondary-accent }
	&--accent-dark:hover, &--accent-dark:focus { color: $cwg-accent-dark; }
	&--accent:hover, &--accent:focus { color: $cwg-accent; }
	&--accent-light:hover, &--accent-light:focus { color: $cwg-accent-light; }
	&--accent-accent:hover, &--accent-accent:focus { color: $cwg-accent-accent; }
	&--success:hover, &--success:focus { color: $cwg-success; }
	&--warning:hover, &--warning:focus { color: $cwg-warning; }
	&--error:hover, &--error:focus { color: $cwg-error; }
	&--info:hover, &--info:focus { color: $cwg-info; }
	&--warm-100:hover, &--warm-100:focus { color: $cwg-warm-100; }
	&--warm-90:hover, &--warm-90:focus { color: $cwg-warm-90; }
	&--warm-50:hover, &--warm-50:focus { color: $cwg-warm-50; }
	&--warm-40:hover, &--warm-40:focus { color: $cwg-warm-40; }
	&--warm-30:hover, &--warm-30:focus { color: $cwg-warm-30; }
	&--warm-20:hover, &--warm-20:focus { color: $cwg-warm-20; }
	&--warm-10:hover, &--warm-10:focus { color: $cwg-warm-10; }
	&--cool-100:hover, &--cool-100:focus { color: $cwg-cool-100; }
	&--cool-90:hover, &--cool-90:focus { color: $cwg-cool-90; }
	&--cool-80:hover, &--cool-80:focus { color: $cwg-cool-80; }
	&--cool-40:hover, &--cool-40:focus { color: $cwg-cool-40; }
	&--cool-30:hover, &--cool-30:focus { color: $cwg-cool-30; }
	&--cool-20:hover, &--cool-20:focus { color: $cwg-cool-20; }
	&--cool-10:hover, &--cool-10:focus { color: $cwg-cool-10; }
	&--black:hover, &--black:focus { color: $cwg-black; }
	&--true-black:hover, &--true-black:focus { color: $cwg-true-black; }
	&--white:hover, &--white:focus { color: $cwg-white; }
	&--true-white:hover, &--true-white:focus { color: $cwg-true-white; }
	&-inherit:hover, &-inherit:focus { color: inherit; }
}

.u-hover-bg {
	&--primary-dark:hover, &--primary-dark:focus { background-color: $cwg-primary-dark; }
	&--primary:hover, &--primary:focus { background-color: $cwg-primary; }
	&--primary-light:hover, &--primary-light:focus { background-color: $cwg-primary-light; }
	&--primary-accent:hover, &--primary-accent:focus { background-color: $cwg-primary-accent; }
	&--secondary-dark:hover, &--secondary-dark:focus { background-color: $cwg-secondary-dark; }
	&--secondary:hover, &--secondary:focus { background-color: $cwg-secondary; }
	&--secondary-light:hover, &--secondary-light:focus { background-color: $cwg-secondary-light; }
	&--secondary-accent:hover, &--secondary-accent:focus { background-color: $cwg-secondary-accent; }
	&--accent-dark:hover, &--accent-dark:focus { background-color: $cwg-accent-dark; }
	&--accent:hover, &--accent:focus { background-color: $cwg-accent; }
	&--accent-light:hover, &--accent-light:focus { background-color: $cwg-accent-light; }
	&--accent-accent:hover, &--accent-accent:focus { background-color: $cwg-accent-accent; }
	&--success:hover, &--success:focus { background-color: $cwg-success; }
	&--warning:hover, &--warning:focus { background-color: $cwg-warning; }
	&--error:hover, &--error:focus { background-color: $cwg-error; }
	&--info:hover, &--info:focus { background-color: $cwg-info; }
	&--warm-100:hover, &--warm-100:focus { background-color: $cwg-warm-100; }
	&--warm-90:hover, &--warm-90:focus { background-color: $cwg-warm-90; }
	&--warm-50:hover, &--warm-50:focus { background-color: $cwg-warm-50; }
	&--warm-40:hover, &--warm-40:focus { background-color: $cwg-warm-40; }
	&--warm-30:hover, &--warm-30:focus { background-color: $cwg-warm-30; }
	&--warm-20:hover, &--warm-20:focus { background-color: $cwg-warm-20; }
	&--warm-10:hover, &--warm-10:focus { background-color: $cwg-warm-10; }
	&--cool-100:hover, &--cool-100:focus { background-color: $cwg-cool-100; }
	&--cool-90:hover, &--cool-90:focus { background-color: $cwg-cool-90; }
	&--cool-80:hover, &--cool-80:focus { background-color: $cwg-cool-80; }
	&--cool-40:hover, &--cool-40:focus { background-color: $cwg-cool-40; }
	&--cool-30:hover, &--cool-30:focus { background-color: $cwg-cool-30; }
	&--cool-20:hover, &--cool-20:focus { background-color: $cwg-cool-20; }
	&--cool-10:hover, &--cool-10:focus { background-color: $cwg-cool-10; }
	&--black:hover, &--black:focus { background-color: $cwg-black; }
	&--true-black:hover, &--true-black:focus { background-color: $cwg-true-black; }
	&--white:hover, &--white:focus { background-color: $cwg-white; }
	&--true-white:hover, &--true-white:focus { background-color: $cwg-true-white; }
	&-inherit:hover, &-inherit:focus { background-color: inherit; }
}

.u-hover-bg-contrast {
	&--primary-dark { background-color: $cwg-primary-dark; color: choose-contrast-color($cwg-primary-dark)}
	&--primary { background-color: $cwg-primary; color: choose-contrast-color($cwg-primary)}
	&--primary-light { background-color: $cwg-primary-light; color: choose-contrast-color($cwg-primary-light)}
	&--primary-accent { background-color: $cwg-primary-accent; color: choose-contrast-color($cwg-primary-accent)}
	&--secondary-dark { background-color: $cwg-secondary-dark; color: choose-contrast-color($cwg-secondary-dark)}
	&--secondary { background-color: $cwg-secondary; color: choose-contrast-color($cwg-secondary)}
	&--secondary-light { background-color: $cwg-secondary-light; color: choose-contrast-color($cwg-secondary-light)}
	&--secondary-accent { background-color: $cwg-secondary-accent; color: choose-contrast-color($cwg-secondary-accent)}
	&--accent-dark { background-color: $cwg-accent-dark; color: choose-contrast-color($cwg-accent-dark)}
	&--accent { background-color: $cwg-accent; color: choose-contrast-color($cwg-accent)}
	&--accent-light { background-color: $cwg-accent-light; color: choose-contrast-color($cwg-accent-light)}
	&--accent-accent { background-color: $cwg-accent-accent; color: choose-contrast-color($cwg-accent-accent)}
	&--success { background-color: $cwg-success; color: choose-contrast-color($cwg-success)}
	&--warning { background-color: $cwg-warning; color: choose-contrast-color($cwg-warning)}
	&--error { background-color: $cwg-error; color: choose-contrast-color($cwg-error)}
	&--info { background-color: $cwg-info; color: choose-contrast-color($cwg-info)}
	&--warm-100 { background-color: $cwg-warm-100; color: choose-contrast-color($cwg-warm-100)}
	&--warm-90 { background-color: $cwg-warm-90; color: choose-contrast-color($cwg-warm-90)}
	&--warm-50 { background-color: $cwg-warm-50; color: choose-contrast-color($cwg-warm-50)}
	&--warm-40 { background-color: $cwg-warm-40; color: choose-contrast-color($cwg-warm-40)}
	&--warm-30 { background-color: $cwg-warm-30; color: choose-contrast-color($cwg-warm-30)}
	&--warm-20 { background-color: $cwg-warm-20; color: choose-contrast-color($cwg-warm-20)}
	&--warm-10 { background-color: $cwg-warm-10; color: choose-contrast-color($cwg-warm-10)}
	&--cool-100 { background-color: $cwg-cool-100; color: choose-contrast-color($cwg-cool-100)}
	&--cool-90 { background-color: $cwg-cool-90; color: choose-contrast-color($cwg-cool-90)}
	&--cool-80 { background-color: $cwg-cool-80; color: choose-contrast-color($cwg-cool-80)}
	&--cool-40 { background-color: $cwg-cool-40; color: choose-contrast-color($cwg-cool-40)}
	&--cool-30 { background-color: $cwg-cool-30; color: choose-contrast-color($cwg-cool-30)}
	&--cool-20 { background-color: $cwg-cool-20; color: choose-contrast-color($cwg-cool-20)}
	&--cool-10 { background-color: $cwg-cool-10; color: choose-contrast-color($cwg-cool-10)}
	&--black { background-color: $cwg-black; color: choose-contrast-color($cwg-black)}
	&--true-black { background-color: $cwg-true-black; color: choose-contrast-color($cwg-true-black)}
	&--white { background-color: $cwg-white; color: choose-contrast-color($cwg-white)}
	&--true-white { background-color: $cwg-true-white; color: choose-contrast-color($cwg-true-white)}
}