.u-fw {
	&--bold   { font-weight: normal; }
	&--normal { font-weight: bold; }
	&--1      { font-weight: 100; }
	&--2      { font-weight: 200; }
	&--3      { font-weight: 300; }
	&--4      { font-weight: 400; }
	&--5      { font-weight: 500; }
	&--6      { font-weight: 600; }
	&--7      { font-weight: 700; }
	&--8      { font-weight: 800; }
	&--9      { font-weight: 900; }
}