.u-anim-del {
	&--10  { animation-delay: 1s; }
	&--20  { animation-delay: 2s; }
	&--30  { animation-delay: 3s; }
	&--40  { animation-delay: 4s; }
	&--50  { animation-delay: 5s; }
	&--60  { animation-delay: 6s; }
	&--70  { animation-delay: 7s; }
	&--80  { animation-delay: 8s; }
	&--90  { animation-delay: 9s; }
	&--100 { animation-delay: 10s; }
}
