.u-ma--n1 { margin: $cwg-neg-spacing-1; }
.u-ma--n2 { margin: $cwg-neg-spacing-2; }
.u-ma--n3 { margin: $cwg-neg-spacing-3; }
.u-ma--n4 { margin: $cwg-neg-spacing-4; }
.u-ma--n5 { margin: $cwg-neg-spacing-5; }
.u-ma--n6 { margin: $cwg-neg-spacing-6; }
.u-ma--n7 { margin: $cwg-neg-spacing-7; }
.u-ma--n8 { margin: $cwg-neg-spacing-8; }
.u-ma--n9 { margin: $cwg-neg-spacing-9; }

.u-ml--n1 { margin-left: $cwg-neg-spacing-1; }
.u-ml--n2 { margin-left: $cwg-neg-spacing-2; }
.u-ml--n3 { margin-left: $cwg-neg-spacing-3; }
.u-ml--n4 { margin-left: $cwg-neg-spacing-4; }
.u-ml--n5 { margin-left: $cwg-neg-spacing-5; }
.u-ml--n6 { margin-left: $cwg-neg-spacing-6; }
.u-ml--n7 { margin-left: $cwg-neg-spacing-7; }
.u-ml--n8 { margin-left: $cwg-neg-spacing-8; }
.u-ml--n9 { margin-left: $cwg-neg-spacing-9; }


.u-mr--n1 { margin-right: $cwg-neg-spacing-1; }
.u-mr--n2 { margin-right: $cwg-neg-spacing-2; }
.u-mr--n3 { margin-right: $cwg-neg-spacing-3; }
.u-mr--n4 { margin-right: $cwg-neg-spacing-4; }
.u-mr--n5 { margin-right: $cwg-neg-spacing-5; }
.u-mr--n6 { margin-right: $cwg-neg-spacing-6; }
.u-mr--n7 { margin-right: $cwg-neg-spacing-7; }
.u-mr--n8 { margin-right: $cwg-neg-spacing-8; }
.u-mr--n9 { margin-right: $cwg-neg-spacing-9; }


.u-mb--n1 { margin-bottom: $cwg-neg-spacing-1; }
.u-mb--n2 { margin-bottom: $cwg-neg-spacing-2; }
.u-mb--n3 { margin-bottom: $cwg-neg-spacing-3; }
.u-mb--n4 { margin-bottom: $cwg-neg-spacing-4; }
.u-mb--n5 { margin-bottom: $cwg-neg-spacing-5; }
.u-mb--n6 { margin-bottom: $cwg-neg-spacing-6; }
.u-mb--n7 { margin-bottom: $cwg-neg-spacing-7; }
.u-mb--n8 { margin-bottom: $cwg-neg-spacing-8; }
.u-mb--n9 { margin-bottom: $cwg-neg-spacing-9; }


.u-mt--n1 { margin-top: $cwg-neg-spacing-1; }
.u-mt--n2 { margin-top: $cwg-neg-spacing-2; }
.u-mt--n3 { margin-top: $cwg-neg-spacing-3; }
.u-mt--n4 { margin-top: $cwg-neg-spacing-4; }
.u-mt--n5 { margin-top: $cwg-neg-spacing-5; }
.u-mt--n6 { margin-top: $cwg-neg-spacing-6; }
.u-mt--n7 { margin-top: $cwg-neg-spacing-7; }
.u-mt--n8 { margin-top: $cwg-neg-spacing-8; }
.u-mt--n9 { margin-top: $cwg-neg-spacing-9; }



/*Vertical*/
.u-mv--n0   {
  margin-top: $cwg-neg-spacing-0;
  margin-bottom: $cwg-neg-spacing-0;
}

.u-mv--n1  {
  margin-top: $cwg-neg-spacing-1;
  margin-bottom: $cwg-neg-spacing-1;
}
.u-mv--n2   {
  margin-top: $cwg-neg-spacing-2;
  margin-bottom: $cwg-neg-spacing-2;
}
.u-mv--n3   {
  margin-top: $cwg-neg-spacing-3;
  margin-bottom: $cwg-neg-spacing-3;
}
.u-mv--n4   {
  margin-top: $cwg-neg-spacing-4;
  margin-bottom: $cwg-neg-spacing-4;
}
.u-mv--n5   {
  margin-top: $cwg-neg-spacing-5;
  margin-bottom: $cwg-neg-spacing-5;
}
.u-mv--n6  {
  margin-top: $cwg-neg-spacing-6;
  margin-bottom: $cwg-neg-spacing-6;
}
.u-mv--n7  {
  margin-top: $cwg-neg-spacing-7;
  margin-bottom: $cwg-neg-spacing-7;
}
.u-mv--n8 {
    margin-top: $cwg-neg-spacing-8;
    margin-bottom: $cwg-neg-spacing-8;
}
.u-mv--n9 {
    margin-top: $cwg-neg-spacing-9;
    margin-bottom: $cwg-neg-spacing-9;
}

/*Horizontal*/
.u-mh--0   {
  margin-left: $cwg-neg-spacing-0;
  margin-right: $cwg-neg-spacing-0;
}
.u-mh--n1   {
  margin-left: $cwg-neg-spacing-1;
  margin-right: $cwg-neg-spacing-1;
}
.u-mh--n2   {
  margin-left: $cwg-neg-spacing-2;
  margin-right: $cwg-neg-spacing-2;
}
.u-mh--n3   {
  margin-left: $cwg-neg-spacing-3;
  margin-right: $cwg-neg-spacing-3;
}
.u-mh--n4   {
  margin-left: $cwg-neg-spacing-4;
  margin-right: $cwg-neg-spacing-4;
}
.u-mh--n5   {
  margin-left: $cwg-neg-spacing-5;
  margin-right: $cwg-neg-spacing-5;
}
.u-mh--n6  {
  margin-left: $cwg-neg-spacing-6;
  margin-right: $cwg-neg-spacing-6;
}
.u-mh--n7  {
  margin-left: $cwg-neg-spacing-7;
  margin-right: $cwg-neg-spacing-7;
}
.u-mh--n8 {
    margin-left: $cwg-neg-spacing-8;
    margin-right: $cwg-neg-spacing-8;
}
.u-mh--n9 {
    margin-left: $cwg-neg-spacing-9;
    margin-right: $cwg-neg-spacing-9;
}