.u-op {
	&--100 { opacity: 1;    }
	&--90  { opacity: .9;   }
	&--80  { opacity: .8;   }
	&--70  { opacity: .7;   }
	&--60  { opacity: .6;   }
	&--50  { opacity: .5;   }
	&--40  { opacity: .4;   }
	&--30  { opacity: .3;   }
	&--20  { opacity: .2;   }
	&--10  { opacity: .1;   }
	&--05  { opacity: .05;  }
	&--025 { opacity: .025; }
	&--0   { opacity: 0;    }
}