.u-hover--grow {
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.2s ease-out;
    &:hover,
    &:focus {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(.90);
    }
    &--large {
        -moz-osx-font-smoothing: grayscale;
        backface-visibility: hidden;
        transform: translateZ(0);
        transition: transform .2s ease-in-out;
        &:hover,
	    &:focus {
	        transform: scale(1.2);
	    }
	    &:active {
		    transform: scale(.95);
	    }
    }
}