.u-ma--0 { margin: $cwg-spacing-0; }
.u-ma--1 { margin: $cwg-spacing-1; }
.u-ma--2 { margin: $cwg-spacing-2; }
.u-ma--3 { margin: $cwg-spacing-3; }
.u-ma--4 { margin: $cwg-spacing-4; }
.u-ma--5 { margin: $cwg-spacing-5; }
.u-ma--6 { margin: $cwg-spacing-6; }
.u-ma--7 { margin: $cwg-spacing-7; }
.u-ma--8 { margin: $cwg-spacing-8; }
.u-ma--9 { margin: $cwg-spacing-9; }


.u-ml--0 { margin-left: $cwg-spacing-0; }
.u-ml--1 { margin-left: $cwg-spacing-1; }
.u-ml--2 { margin-left: $cwg-spacing-2; }
.u-ml--3 { margin-left: $cwg-spacing-3; }
.u-ml--4 { margin-left: $cwg-spacing-4; }
.u-ml--5 { margin-left: $cwg-spacing-5; }
.u-ml--6 { margin-left: $cwg-spacing-6; }
.u-ml--7 { margin-left: $cwg-spacing-7; }
.u-ml--8 { margin-left: $cwg-spacing-8; }
.u-ml--9 { margin-left: $cwg-spacing-9; }


.u-mr--0 { margin-right: $cwg-spacing-0; }
.u-mr--1 { margin-right: $cwg-spacing-1; }
.u-mr--2 { margin-right: $cwg-spacing-2; }
.u-mr--3 { margin-right: $cwg-spacing-3; }
.u-mr--4 { margin-right: $cwg-spacing-4; }
.u-mr--5 { margin-right: $cwg-spacing-5; }
.u-mr--6 { margin-right: $cwg-spacing-6; }
.u-mr--7 { margin-right: $cwg-spacing-7; }
.u-mr--8 { margin-right: $cwg-spacing-8; }
.u-mr--9 { margin-right: $cwg-spacing-9; }


.u-mb--0 { margin-bottom: $cwg-spacing-0; }
.u-mb--1 { margin-bottom: $cwg-spacing-1; }
.u-mb--2 { margin-bottom: $cwg-spacing-2; }
.u-mb--3 { margin-bottom: $cwg-spacing-3; }
.u-mb--4 { margin-bottom: $cwg-spacing-4; }
.u-mb--5 { margin-bottom: $cwg-spacing-5; }
.u-mb--6 { margin-bottom: $cwg-spacing-6; }
.u-mb--7 { margin-bottom: $cwg-spacing-7; }
.u-mb--8 { margin-bottom: $cwg-spacing-8; }
.u-mb--9 { margin-bottom: $cwg-spacing-9; }


.u-mt--0 { margin-top: $cwg-spacing-0; }
.u-mt--1 { margin-top: $cwg-spacing-1; }
.u-mt--2 { margin-top: $cwg-spacing-2; }
.u-mt--3 { margin-top: $cwg-spacing-3; }
.u-mt--4 { margin-top: $cwg-spacing-4; }
.u-mt--5 { margin-top: $cwg-spacing-5; }
.u-mt--6 { margin-top: $cwg-spacing-6; }
.u-mt--7 { margin-top: $cwg-spacing-7; }
.u-mt--8 { margin-top: $cwg-spacing-8; }
.u-mt--9 { margin-top: $cwg-spacing-9; }


.u-mr--auto, .u-mr--a { margin-right: auto; }
.u-ml--auto, .u-mr--a { margin-left:  auto; }


// Vertical
.u-mv--0   {
  margin-top: $cwg-spacing-0;
  margin-bottom: $cwg-spacing-0;
}

.u-mv--1  {
  margin-top: $cwg-spacing-1;
  margin-bottom: $cwg-spacing-1;
}
.u-mv--2   {
  margin-top: $cwg-spacing-2;
  margin-bottom: $cwg-spacing-2;
}
.u-mv--3   {
  margin-top: $cwg-spacing-3;
  margin-bottom: $cwg-spacing-3;
}
.u-mv--4   {
  margin-top: $cwg-spacing-4;
  margin-bottom: $cwg-spacing-4;
}
.u-mv--5   {
  margin-top: $cwg-spacing-5;
  margin-bottom: $cwg-spacing-5;
}
.u-mv--6  {
  margin-top: $cwg-spacing-6;
  margin-bottom: $cwg-spacing-6;
}
.u-mv--7  {
  margin-top: $cwg-spacing-7;
  margin-bottom: $cwg-spacing-7;
}
.u-mv--8  {
  margin-top: $cwg-spacing-8;
  margin-bottom: $cwg-spacing-8;
}
.u-mv--9  {
  margin-top: $cwg-spacing-9;
  margin-bottom: $cwg-spacing-9;
}

// Horizontal
.u-mh--0   {
  margin-left: $cwg-spacing-0;
  margin-right: $cwg-spacing-0;
}
.u-mh--1   {
  margin-left: $cwg-spacing-1;
  margin-right: $cwg-spacing-1;
}
.u-mh--2   {
  margin-left: $cwg-spacing-2;
  margin-right: $cwg-spacing-2;
}
.u-mh--3   {
  margin-left: $cwg-spacing-3;
  margin-right: $cwg-spacing-3;
}
.u-mh--4   {
  margin-left: $cwg-spacing-4;
  margin-right: $cwg-spacing-4;
}
.u-mh--5   {
  margin-left: $cwg-spacing-5;
  margin-right: $cwg-spacing-5;
}
.u-mh--6  {
  margin-left: $cwg-spacing-6;
  margin-right: $cwg-spacing-6;
}
.u-mh--7  {
  margin-left: $cwg-spacing-7;
  margin-right: $cwg-spacing-7;
}
.u-mh--8  {
  margin-left: $cwg-spacing-8;
  margin-right: $cwg-spacing-8;
}
.u-mh--9  {
  margin-left: $cwg-spacing-9;
  margin-right: $cwg-spacing-9;
}