.u-f {
	&--1 { font-size: $cwg-font-size-1; line-height: 1.5 !important; }
	&--2 { font-size: $cwg-font-size-2; line-height: 1.5 !important; }
	&--3 { font-size: $cwg-font-size-3; line-height: 1.5 !important; }
	&--4 { font-size: $cwg-font-size-4; line-height: 1.5 !important; }
	&--5 { font-size: $cwg-font-size-5; line-height: 1.5 !important; }
	&--6 { font-size: $cwg-font-size-6; line-height: 1.5 !important; }
	&--7 { font-size: $cwg-font-size-7; line-height: 1.5 !important; }
	&--8 { font-size: $cwg-font-size-8; line-height: 1.5 !important; }
}