/*

	Columbus Web Group Brand Colors
	Syntax: Sass
	Date: September 28, 2017


	* * *

	Consistent Spacing Units
	Right now these are used extensively in 600-utilities
	
*/

$cwg-spacing-0: 0px;
$cwg-spacing-1: 2px;
$cwg-spacing-2: 4px;
$cwg-spacing-3: 8px;
$cwg-spacing-4: 12px;
$cwg-spacing-5: 16px;
$cwg-spacing-6: 24px;
$cwg-spacing-7: 32px;
$cwg-spacing-8: 48px;
$cwg-spacing-9: 96px;

$cwg-neg-spacing-0: 0px;
$cwg-neg-spacing-1: -2px;
$cwg-neg-spacing-2: -4px;
$cwg-neg-spacing-3: -8px;
$cwg-neg-spacing-4: -12px;
$cwg-neg-spacing-5: -16px;
$cwg-neg-spacing-6: -24px;
$cwg-neg-spacing-7: -32px;
$cwg-neg-spacing-8: -48px;
$cwg-neg-spacing-9: -96px;