/*

	Columbus Web Group Brand Colors
	Syntax: Sass
	Date: September 28, 2017


	* * *

	Font Sizes
	These are guesses for now.

	TODO: See how these work out

*/

$cwg-font-size-8: 3em;
$cwg-font-size-7: 2em;
$cwg-font-size-6: 1.25em;
$cwg-font-size-5: 1em;
$cwg-font-size-4: .875em;
$cwg-font-size-3: .75em;
$cwg-font-size-2: .625em;
$cwg-font-size-1: .5625em;