/*

	Columbus Web Group Brand Colors
	Syntax: Sass
	Date: September 28, 2017


	* * *

	Border Radius
	Right now this is used extensively in 600-utilities
	
*/

$cwg-border-radius-0: 0px;
$cwg-border-radius-1: 2px;
$cwg-border-radius-2: 4px;
$cwg-border-radius-3: 8px;
$cwg-border-radius-4: 12px;
$cwg-border-radius-5: 16px;
$cwg-border-radius-6: 24px;
$cwg-border-radius-7: 32px;
$cwg-border-radius-8: 48px;
$cwg-border-radius-9: 64px;

$cwg-border-radius-100: 100%;
$cwg-border-radius-pill: 9999px;